 body {
     margin: 0 auto;
     background-color: #fefefe;
     position: relative;
 }

 .container {
     max-width: 1200px;
 }

 .scroll {
     display: block;
     overflow-y: auto;
     -ms-overflow-style: -ms-autohiding-scrollbar;
 }


 table, select {
     text-transform: capitalize;
 }

 #size {
     border-radius: 5px;
 }
 /*btn*/

 .btn {
     font-size: 12px;
 }

 .shadow-hov {
     transition: box-shadow 0.55s;
     box-shadow: none;
 }

 .shadow-hov:hover {
     transition: box-shadow 0.45s;
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 /*toast*/

 #toast-container>div {
     top: 45px;
     opacity: 0.8;
     border-radius: 0;
     box-shadow: 0 0 8px #999;
 }

 #toast-container>div:hover {
     box-shadow: 0 0px 8px #999;
 }

 .toast-success {
     background-color: #00BC4B;
 }
 /*nav*/

 .navbar .dropdown-menu a {
     font-size: 1.3rem;
 }

 .badge {
     border-radius: 10px;
     margin-top: -3px;
 }

 .wrapper {
     margin-top: 20px;
 }

 .navbar {
     z-index: 10;
 }

 .fa-shopping-cart, .fa-cart-plus {
     font-size: 18px !important;
 }

 .fa-trash-o {
     font-size: 15px !important;
 }
 /*carousel index*/

 .carousel-control {
     text-shadow: none;
 }

 .carousel-control:hover {
     opacity: 0.9;
     text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
     background-color: rgba(0, 0, 0, 0);
 }

 #my-carousel {
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     width: 100%;
     overflow: hidden;
 }

 #slide {
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     max-width: 100%;
 }
 /*index*/

 .header {
     padding: 5px;
     color: #3F729B;
 }

 .header h2, h3 {
     margin: 0;
     font-weight: 400
 }

 img.img-index {
     width: 100%;
 }

 .card {
     max-width: 250px;
     margin: 0 auto;
 }

 img.imgthumb {
     width: 100%;
     height: auto;
 }

 div.view {
     border-radius: 5px;
     height: 250px;
     overflow: hidden;
     transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
 }

 div.view:hover {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }


 img.img-fluid {
     max-width: 100%;
     border-radius: 5px;
 }
 /*model index*/

 #modal_errors, #modal_errors p {
     padding: 0;
     margin: 2px;
 }

 div.modal-footer, div.modal-header {
     padding: 8px;
 }

 div.modal-header p {
     margin: 0px;
 }
 /*modal checkout*/

 .modal-backdrop {
     z-index: 12;
 }

 .modal-footer .btn+.btn {
     margin-bottom: 6px;
 }

 .modal {
     z-index: 14;
 }

 .icon-cart {
     font-size: 20rem;
     color: #eee;
 }
 /*sidebar*/

 .side-header {
     background-color: #3F729B;
     color: white;
     padding: 7px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .side-table {
     margin-top: 15px;
     padding: 0 10px
 }

 .side-header h5 {
     margin: 0;
 }

 .side-cart {
     background-color: #f8f8f8d4;
     border-radius: 5px;
     padding: 5px 0;
 }

 .side-cart a {
     font-size: 10px;
 }


 .tcart td {
     font-weight: 400;
 }

 .side-cart a {
     font-size: 10px;
 }

 #widget td {
     font-size: 12px;
 }

 table.deals {
     cursor: pointer;
 }
 /*cart*/

 .stripped {
     background-color: rgba(249, 249, 249, 1);
 }

 .tcart a {
     color: #fff !important;
     text-align: center;
 }

 .cartimg {
     max-height: 250px !important;
 }

 a.cart-slide-control {
     background-image: none!important;
     opacity: 1;
     text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
 }

 a.cart-slide-control:hover {
     color: #23527c;
 }

 .delbtn {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 5;
 }
 /*caetegory*/

 #headerWrapper {
     padding: 0;
     margin-top: 52px;
     margin-left: auto;
     margin-right: auto;
     overflow: hidden;
     background-image: url(../images/headerlogo/catimg.jpg);
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: 60%;
     background-color: #fefefe;
     border-bottom-left-radius: 30px;
     border-bottom-right-radius: 30px;
 }
 /* jssor slider loading skin spin css */

 .jssorl-009-spin img {
     animation-name: jssorl-009-spin;
     animation-duration: 1.6s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 }

 @keyframes jssorl-009-spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 .paystackspin {
     display: none;
     z-index: 15;
 }

 .rslides {
     position: relative;
     list-style: none;
     overflow: hidden;
     width: 100%;
     padding: 0;
     margin: 0;
 }

 .rslides li {
     -webkit-backface-visibility: hidden;
     position: absolute;
     display: none;
     width: 100%;
     left: 0;
     top: 0;
 }

 .rslides img {
     display: block;
     height: auto;
     max-width: 100%;
     border: 0;
 }

 .callbacks_nav {
     position: absolute;
     top: 52%;
     left: 0;
     opacity: 0.3;
     z-index: 3;
     text-indent: -9999px;
     overflow: hidden;
     text-decoration: none;
     height: 61px;
     width: 38px;
     background: transparent url("themes.gif") no-repeat left top;
     margin-top: -45px;
 }

 .callbacks_nav:hover {
     opacity: 0.5;
 }

 .callbacks_nav.next {
     left: auto;
     background-position: right top;
     right: 0;
 }


 .rslides li:first-child {
     position: relative;
     display: block;
     float: left;
 }


 @media screen and (max-width: 480px) {
     #my-carousel {
         max-height: 160px
     }
     .index.col-xs-6 {
         width: 100%!important;
     }
     #headerWrapper {
         height: 100px
     }
     .sidebar {
         margin-top: 0!important;
     }
     .callbacks_container {
         overflow: hidden;
     }
 }

 @media (min-width: 481px) and (max-width:768px) {
     #my-carousel {
         max-height: 297px
     }
     #headerWrapper {
         height: 135px;
     }
     .sidebar {
         margin-top: 0!important;
     }
 }

 @media (min-width: 769px) and (max-width:1024px) {
     #my-carousel {
         max-height: 297px
     }
     #headerWrapper {
         height: 170px;
     }
     .sidebar {
         margin-top: 0!important;
     }
 }

 @media screen and (min-width: 1025px) {

     #my-carousel {
         max-height: 484px;
     }
     #headerWrapper {
         height: 235px
     }
     .sidebar {
         margin-top: 80px;
     }
     .callbacks_container {
         max-height: 420px;
         overflow: hidden;
     }
 }
