body {
    margin: 0 auto;
    background-color: #fefefe;
    position: relative
}

.container {
    max-width: 1200px
}

.scroll {
    display: block;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

select, table {
    text-transform: capitalize
}

#size {
    border-radius: 5px
}

.btn {
    font-size: 12px
}

.shadow-hov {
    -webkit-transition: -webkit-box-shadow .55s;
    transition: box-shadow .55s;
    -webkit-box-shadow: none;
    box-shadow: none
}

.shadow-hov:hover {
    -webkit-transition: -webkit-box-shadow .45s;
    transition: box-shadow .45s;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

#toast-container>div {
    top: 45px;
    opacity: .8;
    border-radius: 0;
    -webkit-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999
}

#toast-container>div:hover {
    -webkit-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999
}

.toast-success {
    background-color: #00bc4b
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #3f729b;
    -webkit-transition: .3s;
    transition: .3s
}

.badge {
    border-radius: 10px;
    margin-top: -3px
}

.navbar-default .navbar-nav>li>a {
    -webkit-transition: .3s;
    transition: .3s;
    color: #4a4a4a
}

.dropdown-menu>li>a, nav {
    font-weight: 450
}

.dropdown-menu>li>a {
    padding: 7px 20px
}

.navcart-icon {
    color: #000!important
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #1d5786;
    background-color: #eee
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:active, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #3f729b
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3f729b;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.wrapper {
    margin-top: 20px
}

.navbar {
    z-index: 16
}

.fa-cart-plus, .fa-shopping-cart {
    font-size: 18px!important
}

.fa-trash-o {
    font-size: 15px!important
}

.carousel-control {
    text-shadow: none
}

.carousel-control:hover {
    opacity: .9;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0)
}

#my-carousel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    overflow: hidden
}

#slide {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 100%
}

.header {
    padding: 5px;
    color: #3f729b
}

.header h2, h3 {
    margin: 0;
    font-weight: 400
}

img.img-index {
    width: 100%
}

.card {
    max-width: 250px;
    margin: 0 auto
}

img.imgthumb {
    width: 100%;
    height: auto
}

div.view {
    border-radius: 5px;
    height: 250px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow .2s ease, -webkit-box-shadow .2s ease;
    transition: box-shadow .2s ease, -webkit-box-shadow .2s ease
}

div.view:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

img.img-fluid {
    max-width: 100%;
    border-radius: 5px
}

.card-footer p {
    font-size: 16px;
    font-weight: 600
}

.card-title {
    color: #30637b;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, .2)
}

.card-title>strong {
    font-weight: 400
}

.description {
    line-height: 1.7;
    color: #626262;
    font-weight: 300
}

.price {
    font-weight: 400
}

.inline {
    display: inline-block
}

#modal_errors, #modal_errors p {
    padding: 0;
    margin: 2px
}

div.modal-footer, div.modal-header {
    padding: 8px
}

div.modal-header p {
    margin: 0
}

.modal-backdrop {
    z-index: 17
}

.modal-footer .btn+.btn {
    margin-bottom: 6px
}

.modal {
    z-index: 18
}

.icon-cart {
    font-size: 20rem!important;
    color: #eee
}

.side-header {
    background-color: #3f729b;
    color: #fff;
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.popular-item {
    position: relative
}

.sidecart-table {
    position: relative;
    margin-top: 15px;
    padding: 0 10px
}

.side-header h5 {
    margin: 0
}

.side-cart {
    background-color: rgba(248, 248, 248, .7);
    border-radius: 5px;
    padding-bottom: 5px
}

.side-cart a {
    font-size: 10px
}

.tcart td {
    font-weight: 400
}

.side-cart a {
    font-size: 10px
}

#widget td {
    font-size: 12px
}

table.deals {
    cursor: pointer
}

.cart-wrapper {
    position: relative;
    min-height: 320px
}

.spin-cart {
    display: block
}

.stripped {
    background-color: rgba(249, 249, 249, 1);
    position: relative
}

.tcart a {
    color: #fff!important;
    text-align: center
}

.cartimg {
    max-height: 250px!important
}

a.cart-slide-control {
    background-image: none!important;
    opacity: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

a.cart-slide-control:hover {
    color: #23527c
}

.delbtn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5
}

#headerWrapper {
    padding: 0;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-image: url(../images/headerlogo/catimg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 60%;
    background-size: 60%;
    background-color: #fefefe;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px
}

.jssorl-009-spin img {
    -webkit-animation-name: jssorl-009-spin;
    animation-name: jssorl-009-spin;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@-webkit-keyframes jssorl-009-spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes jssorl-009-spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.spin {
    display: none;
    z-index: 15
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0
}

.rslides img {
    display: block;
    height: auto;
    max-width: 100%;
    border: 0
}

.callbacks_nav {
    position: absolute;
    top: 52%;
    left: 0;
    opacity: .3;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url(themes.gif) no-repeat left top;
    margin-top: -45px
}

.callbacks_nav:hover {
    opacity: .5
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left
}

.social-section ul a {
    display: inline-block;
    margin-left: 0;
    padding: 0;
    position: relative
}

.btn-floating.btn-sm {
    width: 36.15px;
    height: 36.15px
}

.btn-gplus {
    background-color: #dd4b39
}

.btn-fb {
    background-color: #3b5998
}

.btn-tw {
    background-color: #55acee
}

.btn-inst {
    background-color: #f98f6d
}

.btn-floating {
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-floating.btn-sm i {
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    line-height: 36.15px;
    width: inherit
}

.check i {
    font-size: 10rem!important;
    color: #00C851;
}

.thankyou strong {
    color: #00C851;
}

.continue-shop button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.thankyou strong {
    font-weight: 600;
}

.order-info h2 {
    font-weight: 400;
}

.order-info span {
    font-weight: 500;
}

@media screen and (max-width:480px) {
    #my-carousel {
        max-height: 160px
    }
    .index.col-xs-6 {
        width: 100%!important
    }
    #headerWrapper {
        height: 100px
    }
    .sidebar {
        margin-top: 0!important
    }
    .callbacks_container {
        overflow: hidden
    }
    .loadcart-spin {
        top: 20%!important
    }
    .order-info h2 {
        text-align: center;
    }
}

@media (min-width:481px) and (max-width:768px) {
    #my-carousel {
        max-height: 297px
    }
    #headerWrapper {
        height: 135px
    }
    .sidebar {
        margin-top: 0!important
    }
    .loadcart-spin {
        top: 20%!important
    }
    .order-info h2 {
        text-align: center;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    #my-carousel {
        max-height: 297px
    }
    #headerWrapper {
        height: 170px
    }
    .sidebar {
        margin-top: 0!important
    }
    .loadcart-spin {
        top: -20%!important
    }
}

@media screen and (min-width:1025px) {
    #my-carousel {
        max-height: 484px
    }
    #headerWrapper {
        height: 235px
    }
    .sidebar {
        margin-top: 80px
    }
    .callbacks_container {
        max-height: 420px;
        overflow: hidden
    }
    .loadcart-spin {
        top: -15%!important
    }
}
