 body {
     margin: 0 auto;
     background-color: #FFFFFF;
     position: relative;
 }

 input.form-control, .form-control {
     font-size: 1.3rem;
 }

 table, select {
     text-transform: capitalize;
 }

 .btn {
     font-size: 12px;
 }


 .shadow-hov {
     transition: box-shadow 0.55s;
     box-shadow: 0;
 }

 .shadow-hov:hover {
     transition: box-shadow 0.45s;
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .navbar .dropdown-menu a {
     font-size: 1.3rem;
 }

 .badge {
     border-radius: 10px;
     margin-top: -3px;
 }

 .wrapper {
     margin-top: 20px;
 }

 .navbar {
     z-index: 2;
 }
 /*index*/

 .card {
     max-width: 250px;
     margin: 0 auto;
 }

 div.view {
     border-radius: 5px;
     transition: box-shadow ease-in .2s
 }

 div.view:hover {
     box-shadow: -4px 4px 10px 5px rgba(0, 0, 0, 0.2),
     4px 4px 10px 5px rgba(0, 0, 0, 0.2);
 }


 img.img-fluid {
     max-width: 100%;
     height: 200px;
     border-radius: 5px;
 }
 /*model index*/

 .fotorama__img {
     width: 90% !important;
     margin: 0 auto;
 }

 #modal_errors, #modal_errors p {
     padding: 0;
     margin: 2px;
 }

 div.modal-footer, div.modal-header {
     padding: 8px;
 }

 div.modal-header p {
     margin: 0px;
 }
 /*modal checkout*/

 .modal-backdrop {
     z-index: 10;
 }

 .modal-footer .btn+.btn {
     margin-bottom: 6px;
 }

 .modal {
     z-index: 11;
 }
 /*cart*/

 .tcart td {
     font-weight: 400;
 }

 .cartimg {
     position: relative;
 }

 .delbtn {
     position: absolute;
     top: 0;
     left: 20px;
 }

 #headerWrapper {
     position: relative;
     padding: 0;
     margin-top: 52px;
     margin-bottom: 0;
     margin-left: auto;
     margin-right: auto;
     overflow: hidden;
     height: 210px;
     background-image: url(../images/headerlogo/background.png);
     background-repeat: no-repeat;
     background-size: 100% 700px;
     background-position: top center;
     background-attachment: fixed;
 }

 #logotext {
     position: absolute;
     width: 100%;
     height: 180px;
     background: url(../images/headerlogo/text.png) no-repeat center;
     background-size: 70% 180px;
     top: 50%;
     margin-top: -90px;
 }

 .flash {
     position: absolute;
     top: 0px;
     left: 0;
     right: 0;
     z-index: 30
 }
 /*sidebar*/

 .side-cart a {
     font-size: 10px;
 }

 #widget td {
     font-size: 12px;
 }

 table.deals {
     cursor: pointer;
 }
 /* jssor slider loading skin spin css */

 #jssor_1 {
     position: relative;
     margin-top: 52px;
     margin-bottom: 0;
     margin-left: auto;
     margin-right: auto;
     top: 0px;
     left: 0px;
     width: 980px;
     height: 380px;
     overflow: hidden;
     visibility: hidden;
 }

 .jssorl-009-spin img {
     animation-name: jssorl-009-spin;
     animation-duration: 1.6s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 }

 @keyframes jssorl-009-spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 .jssorb051 .i {
     position: absolute;
     cursor: pointer;
 }

 .jssorb051 .i .b {
     fill: #fff;
     fill-opacity: 0.5;
 }

 .jssorb051 .i:hover .b {
     fill-opacity: .7;
 }

 .jssorb051 .iav .b {
     fill-opacity: 1;
 }

 .jssorb051 .i.idn {
     opacity: .3;
 }

 .jssora051 {
     display: block;
     position: absolute;
     cursor: pointer;
 }

 .jssora051 .a {
     fill: none;
     stroke: #fff;
     stroke-width: 360;
     stroke-miterlimit: 10;
 }

 .jssora051:hover {
     opacity: .8;
 }

 .jssora051.jssora051dn {
     opacity: .5;
 }

 .jssora051.jssora051ds {
     opacity: .3;
     pointer-events: none;
 }

 .paystackspin {
     display: none;
     z-index: 15;
 }
